.link {
  color: black;
}
@keyframes bobGoesRight {
  from {
    margin-right: 65%;
  }
  to {
    margin-right: 0%;
  }
}
.bob {
  float: right;
  margin-top: 0.5rem;
  animation-name: bobGoesRight;
  animation-duration: 3s;
}
