.table {
  border: 3px solid black;
  border-radius: 20%;
  padding: 3rem;
  background-color: cornflowerblue;
}
.td {
  border: 3px solid black;
  border-radius: 20%;
  padding: 1rem;
  background-color: white;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .table {
    font-size: 70%;
    padding: 1.5rem;
    border: 2px solid black;
  }
  .td {
    font-size: 70%;
    padding: 0.5rem;
    font-weight: bold;
    border: 1px solid black;
  }
}
