.select {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  font-size: 105%;
  margin-bottom: 3rem;
}
.imageDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 4rem;
  background-color: cornflowerblue;
  background-image: url(bobseventy.png);
}
.infoDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 3rem;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .select {
    margin-bottom: 1rem;
  }
}
