.select {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5px;
  font-size: 105%;
  margin-bottom: 3rem;
}
.blueDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 4rem;
  background-color: cornflowerblue;
}
.musicDiv {
  background-image: url(EighthNote50ish.jpg);
}
@keyframes ironManFlies {
  0% {
    margin-left: 0%;
    margin-top: 0%;
  }
  25% {
    margin-left: 100%;
    margin-top: 0%;
  }
  50% {
    margin-left: 100%;
    margin-top: 100%;
  }
  75% {
    margin-left: 0%;
    margin-top: 100%;
  }
  100% {
    margin-left: 0%;
    margin-top: 0%;
  }
}
.ironMan {
  animation-name: ironManFlies;
  animation-duration: 10s;
}
.natureDiv {
  background-image: url(CartoonTree75ish.png);
}
.videogameDiv {
  background-image: url(bobseventy.png);
}
.infoDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 3rem;
  background-color: white;
}
.link {
  color: black;
}

@media only screen and (max-width: 1024px) {
  .select {
    margin-bottom: 1rem;
  }
}
