.form {
  display: inline-grid;
  line-height: 2;
}
.button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: cornflowerblue;
  padding: 0.5rem;
}
.image {
  float: right;
  display: block;
}
.par {
  float: right;
  display: block;
  margin-top: 12rem;
}

@media only screen and (max-width: 1024px) {
  .image {
    float: none;
    margin-top: 2rem;
    width: 50%;
    height: 50%;
  }
  .par {
    float: none;
    display: inline;
  }
}
