.form {
  display: inline-grid;
  line-height: 2;
}
.button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
  background-color: cornflowerblue;
  padding: 0.5rem;
}
.par {
  float: right;
  margin-right: 50%;
}

@media only screen and (max-width: 1024px) {
  .par {
    float: none;
    margin-right: none;
  }
}
