.navLink {
  display: inline;
  margin-left: 1rem;
  padding: 1rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 20%;
}

@media only screen and (max-width: 1024px) {
  .navLink {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    padding-right: 5rem;
    padding-top: none;
    padding-bottom: none;
    text-align: center;
  }
}
