.blueDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 2rem;
  background-color: cornflowerblue;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.infoDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 3rem;
  background-color: white;
}
