.blueDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 1.5rem;
  background-color: cornflowerblue;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.infoDiv {
  border: 3px solid black;
  border-radius: 20%;
  padding: 3rem;
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .blueDiv {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
  }
}
